.header{
    height:70px;
}
.header::after{
    content:"0";
    height:0;
    border:0;
    visibility: hidden;
    clear: both;
}
.logo{
    width:64px;
}
.search-bar{
    width:32px;
}
.col-xs-12{
    height:100px;
    border: 1px solid #111;
    color:#ffffff;
}
.search-icon{
    font-size: 100px;
}