body {
  font-size: 16px;
  font-family: Microsoft JhengHei;
  color: #ffffff;
  background-color: #da706f; }
  body ul {
    list-style-type: none;
    padding-left: 0px; }
    body ul li {
      list-style-type: none; }
  body .button {
    border: solid #ffffff 1px;
    margin-bottom: 25px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 3px 1px #935452;
    box-shadow: 3px 3px 3px 1px #935452; }

a:link {
  color: #ffffff; }

a:visited {
  color: #ffffff; }

a:hover {
  color: #ffffff;
  text-decoration: none; }

a:active {
  color: #da706f;
  background-color: #ffffff; }

header {
  min-height: 70px; }
  header .site-logo {
    width: 64px; }
    @media (min-width: 768px) {
      header .site-logo {
        width: 150px; } }
    @media (min-width: 992px) {
      header .site-logo {
        width: 200px; } }
    @media (min-width: 1200px) {
      header .site-logo {
        width: 250px; } }
  header .site-logotype {
    width: 100px; }
    @media (min-width: 768px) {
      header .site-logotype {
        width: 200px; } }
    @media (min-width: 992px) {
      header .site-logotype {
        width: 300px; } }
    @media (min-width: 1200px) {
      header .site-logotype {
        width: 500px; } }
  header .search-bar {
    width: 32px; }
  header .search-icon {
    font-size: 500px; }

.container {
  width: 100%; }

.container .store-wrap {
  min-height: 50vh; }
  .container .store-wrap img {
    max-width: 80vw; }

.container .button-wrap {
  margin-top: 30px; }

.container .button {
  width: 234px; }
