@charset "UTF-8";
body {
  font-size: 16px;
  font-family: Microsoft JhengHei;
  color: #ffffff;
  background-color: #da706f; }
  body ul {
    list-style-type: none;
    padding-left: 0px; }
    body ul li {
      list-style-type: none; }

a:link {
  color: #ffffff; }

a:visited {
  color: #ffffff; }

a:hover {
  color: #ffffff;
  text-decoration: none; }

a:active {
  color: #da706f;
  background-color: #ffffff; }

header {
  min-height: 70px; }
  header .site-logo {
    width: 64px; }
    @media (min-width: 768px) {
      header .site-logo {
        width: 150px; } }
    @media (min-width: 992px) {
      header .site-logo {
        width: 200px; } }
    @media (min-width: 1200px) {
      header .site-logo {
        width: 250px; } }
  header .site-logotype {
    width: 100px; }
    @media (min-width: 768px) {
      header .site-logotype {
        width: 200px; } }
    @media (min-width: 992px) {
      header .site-logotype {
        width: 300px; } }
    @media (min-width: 1200px) {
      header .site-logotype {
        width: 500px; } }
  header .search-bar {
    width: 32px; }
  header .search-icon {
    font-size: 100px; }
  header::after {
    content: "";
    display: block;
    clear: both; }

/* 上面很爛 */
.container {
  width: 100%; }

.store-list {
  min-height: 40vh; }
  .store-list li {
    margin: 30px auto 30px;
    min-width: 50vw;
    height: 35vh;
    text-align: center; }
    .store-list li img {
      max-height: 25vh; }
