@import url(global.css);
@import url(layout.css);

@media (max-width:768px){
    .site-sm-title{
        font-size: 16px;
    }
}
header{
    min-height:50px;
}
.site-logo{
    width:64px;
}
.resturant-pic{
    border:1px solid #ffffff;
    width:100%;
    padding:2px;
    margin:0 auto;
    height:auto;
    margin:4px auto;
}
.container{
    margin:1rem auto;
}
.container img{
    height:auto;
    margin:4px auto;
}
.container meal{
    margin:4px auto;
}
.restaurant-list{
    width:25vh;
}
.menu-list{
    font-size:12px;
}
.search-icon{
    font-size: 2rem;
}