@import url(global.css);
@import url(layout.css);

.header{
    border: 1px solid #111;
    padding-top: 5px;
    background-color: red;
}
.header i{
    font-size: 1.5rem;
}
.resturant-pic{
    border:1px solid #ffffff;
    width:80%;
    padding:2px;
    margin:0 auto;
}
.container{
    margin:1rem auto;
}
.container img{
    width:100%;
    height:auto;
    margin:4px auto;
}
