header{
    min-height: 70px;
    .site-logo{
        width: 64px;
        @media(min-width: 768px){
            width: 150px;        
        }
        @media(min-width: 992px){
            width: 200px;        
        }
        @media(min-width: 1200px){
            width: 250px;        
        }
    }
    .site-logotype{
        width: 100px;
        @media(min-width: 768px){
            width: 200px;
        }
        @media(min-width: 992px){
            width: 300px;        
        }
        @media(min-width: 1200px){
            width: 500px;        
        }
    }
    .search-bar{
        width:32px;
    }
    .search-icon{
        font-size: 500px;
    }
}
.container{
    width:100%;  
}