@import "global";
@import "layout";
@import "button";

.container{
    .store-wrap{
        min-height: 50vh;
        img{
            max-width: 80vw;
        }
    }
    .button-wrap{
        margin-top:30px;
    }
    .button{
        width:234px;
    }
}