@import "global";
@import "layout";

.store-list{
    min-height: 40vh;
    li{
        margin: 30px auto 30px;
        min-width: 50vw;
        height: 35vh;
        text-align:center;
        img{
            max-height: 25vh;
        }
    }
}